@import "preset/0-preset"
@import "md/0-md"

.abc
    margin: 2rem 0

    figcaption
        max-width: 800px
        margin: 0 auto
        margin-top: 1rem
        margin-bottom: 1rem
        text-align: center
        padding: 0 20px
