html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"; }

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Source Code Pro", monospace; }

*[class*="font-"][class*="-sans"] {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif; }
*[class*="font-"][class*="-serif"] {
  font-family: "Noto Serif", "Noto Serif SC", serif; }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  color: #333333; }

body {
  overflow-x: hidden; }

img {
  vertical-align: middle;
  max-width: 100%; }

#navBar {
  height: 64px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 1000; }
  #navBar .logo {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.04);
    position: relative;
    -webkit-transform: translate(0, -50%);
    float: left;
    top: 50%;
    margin-left: 16px;
    border-radius: 50%; }
  #navBar .title {
    position: relative;
    -webkit-transform: translate(0, -50%);
    float: left;
    top: 50%;
    margin-left: 1rem;
    font-size: 1.125rem;
    font-weight: bold; }
  #navBar .items {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 2rem; }
    #navBar .items li {
      float: left;
      margin-left: 2rem;
      line-height: 24px; }

#secondaryNavBar {
  z-index: 1000;
  height: 64px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), 0 -1px 0 rgba(0, 0, 0, 0.08);
  background-color: white; }
  #secondaryNavBar .items {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem; }
    #secondaryNavBar .items li {
      float: left;
      line-height: 60px;
      margin-top: 2px;
      margin-right: 2rem;
      color: rgba(0, 0, 0, 0.48); }
      #secondaryNavBar .items li.current {
        color: rgba(0, 0, 0, 0.8);
        border-bottom: 2px solid rgba(0, 0, 0, 0.8); }
      #secondaryNavBar .items li:hover {
        color: rgba(0, 0, 0, 0.8); }

header[class*="articleTitle"] {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 1000px; }
  header[class*="articleTitle"] .cover {
    flex: 1 1 50%;
    object-fit: cover; }
  header[class*="articleTitle"] .title {
    flex: 1 1 50%;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    -webkit-transform: translate(0, -50%);
    margin-top: 500px; }
    header[class*="articleTitle"] .title h1 {
      font-size: 3rem;
      line-height: 1.5;
      margin: 1rem 0; }
    header[class*="articleTitle"] .title p {
      font-size: 1rem;
      line-height: 2;
      margin: 1rem 0; }

.md,
.markdown-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 64px;
  margin-bottom: 64px; }
  .md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    line-height: 1.75;
    margin-top: 1em;
    margin-bottom: 1rem; }
  .md h1,
  .markdown-body h1 {
    font-size: 2rem; }
  .md h2,
  .markdown-body h2 {
    font-size: 1.5rem; }
  .md h3,
  .markdown-body h3 {
    font-size: 1.25rem; }
  .md h4, .md h5,
  .markdown-body h4,
  .markdown-body h5 {
    font-size: 1rem; }
  .md h5,
  .markdown-body h5 {
    font-size: 0.875rem; }
  .md h6,
  .markdown-body h6 {
    font-size: 0.875rem;
    color: #858585; }
  .md header h1,
  .markdown-body header h1 {
    font-size: 2.5rem; }
  .md p,
  .markdown-body p {
    font-size: 1rem;
    line-height: 2;
    margin-top: 1em;
    margin-bottom: 1em; }
  .md p a, .md li a, .md table a, .md blockquote a,
  .markdown-body p a,
  .markdown-body li a,
  .markdown-body table a,
  .markdown-body blockquote a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline; }
  .md li,
  .markdown-body li {
    font-size: 1rem;
    line-height: 2em; }
  .md > ul, .md > ol,
  .markdown-body > ul,
  .markdown-body > ol {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .md ul, .md ol,
  .markdown-body ul,
  .markdown-body ol {
    padding-left: 2rem; }
  .md ol,
  .markdown-body ol {
    list-style-type: decimal; }
  .md ul,
  .markdown-body ul {
    list-style-type: disc; }
  .md li ol,
  .markdown-body li ol {
    list-style-type: lower-roman; }
  .md li ul,
  .markdown-body li ul {
    list-style-type: circle; }
  .md li li ol,
  .markdown-body li li ol {
    list-style-type: lower-alpha; }
  .md li li ul,
  .markdown-body li li ul {
    list-style-type: square; }
  .md blockquote,
  .markdown-body blockquote {
    background-color: #fafafa;
    color: #858585;
    padding: 0.5rem 1rem;
    border-left: 2px solid #ebebeb; }
    .md blockquote > *,
    .markdown-body blockquote > * {
      font-size: 87.5%; }
  .md figure,
  .markdown-body figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .md figure img,
    .markdown-body figure img {
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
    .md figure figcaption,
    .markdown-body figure figcaption {
      caption-side: bottom;
      margin-top: 0.5rem; }
      .md figure figcaption > *,
      .markdown-body figure figcaption > * {
        font-size: 87.5%;
        color: #858585; }
      .md figure figcaption > p:first-of-type,
      .markdown-body figure figcaption > p:first-of-type {
        margin-top: 0; }
      .md figure figcaption > p:last-of-type,
      .markdown-body figure figcaption > p:last-of-type {
        margin-bottom: 0; }
  .md > img,
  .markdown-body > img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .md hr,
  .markdown-body hr {
    border: none;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ebebeb;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .md sup, .md sub,
  .markdown-body sup,
  .markdown-body sub {
    font-size: smaller;
    line-height: 1; }
  .md sup,
  .markdown-body sup {
    vertical-align: super; }
  .md sub,
  .markdown-body sub {
    vertical-align: sub; }
  .md strong, .md b,
  .markdown-body strong,
  .markdown-body b {
    font-weight: bold; }
  .md del,
  .markdown-body del {
    text-decoration: line-through;
    color: #858585; }
  .md em,
  .markdown-body em {
    font-style: italic; }
  .md mark,
  .markdown-body mark {
    background-color: rgba(51, 195, 194, 0.24);
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; }
    .md mark:hover,
    .markdown-body mark:hover {
      background-color: rgba(51, 195, 194, 0.4); }
  .md u,
  .markdown-body u {
    background-color: rgba(51, 195, 194, 0.24);
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; }
    .md u:hover,
    .markdown-body u:hover {
      background-color: rgba(51, 195, 194, 0.4); }
  .md details,
  .markdown-body details {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem; }
    .md details summary,
    .markdown-body details summary {
      font-weight: bold;
      margin-left: -1rem; }
  .md [class*="gridGallery-"],
  .markdown-body [class*="gridGallery-"] {
    margin: 0;
    padding: 0;
    margin: 2rem 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 50% 50%;
    margin-right: 1rem; }
    @media only screen and (max-width: 414px) {
      .md [class*="gridGallery-"],
      .markdown-body [class*="gridGallery-"] {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: 100%;
        margin-right: 0rem; } }
    .md [class*="gridGallery-"][class*="-figList"],
    .markdown-body [class*="gridGallery-"][class*="-figList"] {
      grid-row-gap: 2rem !important; }
      .md [class*="gridGallery-"][class*="-figList"] figcaption,
      .markdown-body [class*="gridGallery-"][class*="-figList"] figcaption {
        display: block; }
      .md [class*="gridGallery-"][class*="-figList"] figure,
      .markdown-body [class*="gridGallery-"][class*="-figList"] figure {
        display: block;
        margin: 0; }
        .md [class*="gridGallery-"][class*="-figList"] figure .imgFrame,
        .markdown-body [class*="gridGallery-"][class*="-figList"] figure .imgFrame {
          margin: 0;
          padding-bottom: 100%;
          overflow: hidden;
          outline: 1px solid rgba(0, 0, 0, 0.08);
          outline-offset: -1px;
          position: relative; }
          .md [class*="gridGallery-"][class*="-figList"] figure .imgFrame img,
          .markdown-body [class*="gridGallery-"][class*="-figList"] figure .imgFrame img {
            width: 100%;
            padding: 1rem;
            height: 100%;
            position: absolute;
            object-fit: contain; }
      .md [class*="gridGallery-"][class*="-figList"][class*="-square"] figure .imgFrame,
      .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-square"] figure .imgFrame {
        padding-bottom: 100%; }
        .md [class*="gridGallery-"][class*="-figList"][class*="-square"] figure .imgFrame img,
        .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-square"] figure .imgFrame img {
          object-fit: cover; }
      .md [class*="gridGallery-"][class*="-figList"][class*="-16to9"] figure .imgFrame,
      .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-16to9"] figure .imgFrame {
        padding-bottom: 56.25%; }
        .md [class*="gridGallery-"][class*="-figList"][class*="-16to9"] figure .imgFrame img,
        .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-16to9"] figure .imgFrame img {
          object-fit: cover; }
      .md [class*="gridGallery-"][class*="-figList"][class*="-4to3"] figure .imgFrame,
      .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-4to3"] figure .imgFrame {
        padding-bottom: 75%; }
        .md [class*="gridGallery-"][class*="-figList"][class*="-4to3"] figure .imgFrame img,
        .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-4to3"] figure .imgFrame img {
          object-fit: cover; }
      .md [class*="gridGallery-"][class*="-figList"][class*="-borderless"] figure .imgFrame,
      .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-borderless"] figure .imgFrame {
        border: none; }
        .md [class*="gridGallery-"][class*="-figList"][class*="-borderless"] figure .imgFrame img,
        .markdown-body [class*="gridGallery-"][class*="-figList"][class*="-borderless"] figure .imgFrame img {
          padding: 0; }

.abc img {
  width: 100%; }
.abc figcaption {
  max-width: 800px;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 1rem; }
  .abc figcaption > * {
    font-size: 87.5%;
    color: #858585; }
  .abc figcaption > p:first-of-type {
    margin-top: 0; }
  .abc figcaption > p:last-of-type {
    margin-bottom: 0; }

a {
  color: red; }

.cover {
  height: 100%; }
  .cover img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    height: 1000px; }

.test {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  max-width: 2200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 1000px; }
  .test h1 {
    font-size: 4rem !important;
    line-height: 1.5 !important; }
  .test .a {
    flex: 1 1 50%; }
  .test .bcd {
    padding: 0 64px;
    width: 100% !important;
    -webkit-transform: translate(0, -50%);
    position: relative;
    margin-top: 500px;
    max-width: 100%; }
